<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
    <head>
        <title> Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
    </head>
    <body>

<h1>Sample App</h1>
<p>
    This the home page for the tutorial I did:
    <a href="http://ruby.railstutorial.org/"> Ruby on Rails Turorial</a>
    sample application.
</p>

    </body>
</html>
